* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Work Sans";
}

.banner-container {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(10, 10, 10)), url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 270px 0;
}

.subtitle {
    font-weight: 600;
    color: hsl(0, 0%, 90%);
    font-size: 32px;
    text-align: center;
}

.title {
    color: white;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 24px;
}

.description {
    color: hsl(0, 0%, 80%);
    font-weight: 500;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
}
.banner-btn {
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding: 20px 32px;
    background-color: #52C303;
    border: 1px solid #52C303;
    border-radius: 8px;
}
.banner-btn:hover {
    background-color: white;
    color: #52C303;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 1px solid #52C303;
}
.banner-btn:active {
    scale: 0.9;
    transition: all 0.3s ease-in-out;
}
.sec2 {
    margin: 180px 280px;
}
.sec2-subtitle {
    color: #101010;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.sec2-title {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    max-width: 60%;
    margin: 16px auto 48px;
}
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 64px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img {
    width: 100%;
}
.card-btn {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    padding: 14px 32px;
    background-color: rgba(82, 195, 3, 0.15);
    color: #101010;
    border-radius: 8px;
}
.card-title {
    font-weight: 700;
    font-size: 40px;
    color: #101010;
    text-align: center;
}
.card-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
    text-align: center;
    color: #101010;
}
.sec2-btn {
    display: flex;
    justify-content: center;
}
.sec3 {
    display: flex;
    width: 100%;
}
.sec3 > div {
    width: 50%;
}
.sec3-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.sec3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 130px 0; */
}
.sec3-title {
    font-size: 48px;
    color: #101010;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
}
.sec3-subtitle {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 48px;
    color: #101010;
}
.sec3-content > h4 {
    font-weight: 700;
    font-size: 32px;
    color: #101010;
    padding: 30px 0;
}
.sec3-content hr {
    width: 100%;
}
.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
}
.icons {
    width: 42px;
}
.sec4 {
    background-color: #fbfff8;
    padding: 160px 0;
}
.sec4-title {
    font-size: 32px;
    color: #101010;
    font-weight: bold;
}
.sec4-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 50px;
}
.sec4-container {
    display: flex;
    gap: 42px;
    max-width: 80%; 
    margin: 0 auto;
}
.sec4-container > div {
    width: 50%;
}
.sec4-card-img {
    width: 100%;
    border-radius: 24px;
}
.sec4-date {
    color: hsla(0, 0%, 6%, 0.70);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.sec4-card-title {
    color: #101010;
    font-size: 32px;
    font-weight: bold;
    margin: 8px 0 12px;
}
.sec4-card-description {
    color: hsla(0, 0%, 6%, 0.80);
}
.sec4-right-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec4-right-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.sec4-right-cards > img {
    width: 40%;
}
footer {
    background: url('/assets/social-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    width: 100%;
}
footer .sec3-title {
    max-width: 50%;
}